In [2]:
# functions is Represented with "Def"

 #syntax:- def <functionname>(parameters):
 #                logical

In [3]:
def satish():    #saving in memory
  print(" i am learing Data Science course")
    
satish()  # calling function

 i am learing Data Science course

In [4]:
def pavankalyan():
    print( 'i am going to hyderabad ')
    print('i am learing Full stack java')
pavankalyan()

i am going to hyderabad
i am learing Full stack java

In [25]:
#with function name
def addition(a,b):  #saving in memory
    print(a+b)
    
addition(20,50)    # calling the function

70

In [26]:
addition(10,500)

510

In [9]:
def Substrication(x,y):
    print(x-y)
    
Substrication(500,300)

200

In [10]:
def multiplication(a,b):
    print(a*b)
    
    
multiplication(10,2)

20

In [11]:
def satish(a,b=100):
    print(a+b)
    
satish(500)

600

In [20]:
def multiplication(x,y=6):
    print(x*y)
    
    
addition(6)

36

In [21]:
multiplication(5)

30

In [22]:
multiplication(4)

24

In [14]:
def evennumber(a,b):
    for i in range(a,b):
        if i%2==0:
           print(i) 
evennumber(1,20)

2
4
6
8
10
12
14
16
18

In [16]:
def oddnumber(x,y):
    for i in range(x,y):
        if i%2!=0:
            print(i)
oddnumber(1,20)

1
3
5
7
9
11
13
15
17
19

In [17]:
# without function
a=100
b=500
print(a+b)

600

In [18]:
x=1000
y=500
print(1000-500)

500

In [28]:
def addition(x,y):
    print(x+y)
    
a=1000
b=200

addition(a,b)   # calling the function

1200

In [29]:
def substrication(a,b):
    print(a+b)
    
x=5
y=10


substrication(x,y )

15

In [30]:
def satish():
    print('my institute name vihara tech')
satish()

my institute name vihara tech

In [31]:
def addition(a,b):
    print(a+b)
    
addition(100,200)

300

In [33]:
def multiplication(x,y):
    
    print(x*y)
multiplication(5,6)

30

In [34]:
multiplication(4,7)

28

In [37]:
def multiplication(x,y=10):
    print(x*y)

multiplication(3)

30

In [38]:
multiplication(9)

90

In [39]:
# without function
x=50
y=100
print(x+y)

150

In [40]:
x=50
y=100
print(x-y)

-50

In [41]:
x=5
y=10
print(x*y)

50

In [42]:
for i in range(1,10):
    if i%2==0:
        print(i)

2
4
6
8

In [46]:
# with function
def even(a,b):
    for i in range(a,b):
        if i%2==0:
            print(i)
            
even(1,10)

2
4
6
8

In [49]:
for i in range(1,10):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [50]:
def odd(a,b):
    for i in range(a,b):
        if i%2!=0:
            print(i)
 
odd(1,10)

1
3
5
7
9

In [51]:
for i in range(1,20):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
def satish():
    print('i am going to Hyderabad')
    print('i am learing Data Science course')
satish()

i am going to Hyderabad
i am learing Data Science course

In [3]:
def addition(a,b):
    print(a+b)
    
addition(25,60)

85

In [4]:
addition(30,60)

90

In [6]:
def substrication(x,y):
    print(x-y)
    
    
substrication(100,150)

-50

In [7]:
substrication(250,30)

220

In [10]:
def vihara():
    print('Data science')
vihara()

Data science

In [11]:
def addition(a,b,c):
    print(a+b+c)
    
addition(10,30,50)

90

In [12]:
addition(20,50,80)

150

In [14]:
def substrication(a,b,c=500):
       print(a-b-c)
substrication(1000,200)

300

In [15]:
# without function
a=100
b=500
c=900
print(a+b+c)

1500

In [16]:
print(a-b-c)

-1300

In [17]:
for i in range(11,17):
    if i%2==0:
        print(i)

12
14
16

In [25]:
def even(a,b):
    for i in range(a,b):
        if i%2==0:
            print(i)
even(1,10)

2
4
6
8

In [20]:
def odd(x,y):
    for i in range(x,y):
        if i%2!=0:
            print(i)
odd(1,10)

1
3
5
7
9

In [21]:
# without function
for i in range(1,10):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [ ]:
# function syntax:-def <functionname>(parameters):
#                          logical statement

In [26]:
#Global Variable
x=500
def fun():
    print(x+100)
    
print(x)
fun()

500
600

In [27]:
a=1000
def fun():
    print(a+100)
print(a)
fun()

1000
1100

In [28]:
# local Variables
def fun():
    k=1000
    print(k+100)
fun()

1100

In [32]:
def fun():
    a=250
    print(a+300)
fun()

550

In [1]:
def satish():
    print('i am going to hyderabad')
satish()

i am going to hyderabad

In [4]:
def addition(a,b):
    print(a+b)
    
addition(20,40)

60

In [5]:
addition(100,200)

300

In [8]:
def substrication(x,y):
    print(x-y)
    
    
substrication(100,20)

80

In [9]:
substrication(100,40)

60

In [10]:
#without function
a=1000
b=500
print(a+b)

1500

In [11]:
def addition(a,b=100):
    print(a+b)
    
    
addition(2000)

2100

In [26]:
def even(a,b):
    for i in range(a,b):
        if i%2==0:
            print(i)
even(1,10)

2
4
6
8

In [28]:
def odd(a,b):
    for i in range(a,b):
        if i%2!=0:
            print(i)
odd(1,10)

1
3
5
7
9

In [1]:
def sai():
    print('i am going to vihara tech')
    
    
sai()

i am going to vihara tech

In [2]:
def addition(a,b):
    print(a+b)
    
addition(20,50)

70

In [4]:
addition(45,55)

100

In [5]:
addition(23,33)

56

In [3]:
def substrication(a,b):
    print(a-b)
    
substrication(1000,500)

500

In [6]:
substrication(55,5)

50

In [7]:
substrication(100,40)

60

In [8]:
def multiplication(x,y):
    print(x*y)
    
    
multiplication(2,5)

10

In [9]:
multiplication(4,5)

20

In [10]:
multiplication(10,5)

50

In [13]:
def addition(a,b=10):
    print(a+b)
    
    
addition(100)

110

In [14]:
def multiplication(s,e=7):
    print(s*e)
    
    
multiplication(5)

35

In [15]:
# normal function
def fun(s,e):
    print(s+e)
    
fun(55,65)

120

In [16]:
#without function lambda function  is know as ananyomus function
# using the variable we can use the lambda function

In [22]:
c=lambda s,e:s+e
    
print(c(10,40))

50

In [23]:
a=lambda x,y:x*y

print(a(5,6))

30

In [24]:
# normal function using 2 table
a=5

for i in range(1,10):
    print(a,'*',i,'=',a*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [25]:
a=10

for i in range(1,11):
    print(a,'*',i,'=',a*i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [27]:
# lambda function

a=7
c=lambda x,y:x*y

for i in range(1,11):
    print(a,'*',i,'=',c(a,i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [32]:
a=6

c=lambda s,e:s*e

for i in range(1,11):
    
    print(a,'*',i,'=',c(a,i))

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [33]:
a=9
j=lambda d,e:d*e

for i in range(1,11):
    print(a,'*',i,'=',j(a,i))

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [34]:
c=lambda s,e:s+e

print(c(10,20))

30

In [35]:
c=lambda x,y:x-y

print(c(550,45))

505

In [36]:
for i in range(1,20):
    if i%2==0:
        print('even number',i)
    else:
        print('odd number',i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19

In [39]:
c=lambda x:x%2==0
for i in range(1,20):
    if c(i)==True:
        print('even number',i)
    else:
        print('odd number',i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19

In [43]:
c=lambda x:x%2==0
for i in range(1,10):
    if c(i)==True:
        print('even number',i)

even number 2
even number 4
even number 6
even number 8

In [46]:
c=lambda x:x%2!=0
for i in range(1,10):
    if c(i)==True:
        print('odd number',i)

odd number 1
odd number 3
odd number 5
odd number 7
odd number 9

In [2]:
#normal function
def satish(a,b):
    print(a+b)
    
    
satish(20,30)

50

In [5]:
#lambda function
c=lambda a,b:a+b
print(c(20,30))

50

In [6]:
# print 4 table 
a=4
for i in range(1,11):
    print(a,'*',i,'=',a*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [7]:
x=10
for i in range(1,11):
    print(x,'*',i,'=',x*i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [11]:
a=2
c=lambda s,e:s*e

for i in range(1,11):
    print(a,'*',i,'=',c(a,i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [12]:
a=15
c=lambda t,i:t*i

for i in range(1,11):
    print(a,'*',i,'=',c(a,i))

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [17]:
# print 1 to 20 even numbers and odd numbers

def evennumbers(t,j):
    for i in range(t,j):
        if i%2==0:
            print('even number',i)
        else:
            print('odd number',i)
evennumbers(1,20)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19

In [18]:
c=lambda x:x%2==0
for i in range(1,20):
    if c(i)==True:
        print('even number',i)
    else:
        print('odd number',i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19

In [20]:
def evens(a,b):
    for i in range(a,b):
        if i%2==0:
            print(i)
evens(21,41)

22
24
26
28
30
32
34
36
38
40

In [21]:
c=lambda a:a%2==0

for i in range(21,41):
    if c(i)==True:
        print(i)

22
24
26
28
30
32
34
36
38
40

In [29]:
c=lambda x:x%2!=0
for i in range(21,41):
    if c(i)==True:
        print(i)

21
23
25
27
29
31
33
35
37
39

In [30]:
def add(y,z):
    print(y+z)
    
    
add(30,45)

75

In [31]:
c=lambda y,z:y+z
print(c(30,45))

75

In [36]:
def sub(s,d):
    print(s-d)
    
sub(150,45)

105

In [38]:
a=lambda s,d:s-d
print(a(150,45))

105

In [39]:
def fun(w,e):
    for i in range(w,e):
        if i%2==0:
            print('even number',i)
fun(31,41)

even number 32
even number 34
even number 36
even number 38
even number 40

In [40]:
c=lambda w:w%2==0
for i in range(31,41):
    if c(i)==True:
        print('even number',i)

even number 32
even number 34
even number 36
even number 38
even number 40

In [42]:
def odd(R,S):
    for i in range(R,S):
        if i%2!=0:
            print('even number',i)
odd(31,41)

even number 31
even number 33
even number 35
even number 37
even number 39

In [46]:
c=lambda r:r%2!=0
for i in range(31,41):
    if i%2==True:
        print('even number',i)

even number 31
even number 33
even number 35
even number 37
even number 39

In [47]:
x=14
for i in range(1,11):
    print(x,'*',i,'=',x*i)

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

In [49]:
x=14
c=lambda a,b:a*b

for i in range(1,11):
    print(x,'*',i,'=',c(x,i))

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

In [53]:
# Map Function : map functions are used to reduce the complexity : map will take care of for loop:
# map Function syntax : map(<function_name> , <values>)
def satish(a):
    if a%2==0:
        return 'even'
    
x=map(satish,[31,32,33,34,35,36,37,38,39,40])
print(list(x))

[None, 'even', None, 'even', None, 'even', None, 'even', None, 'even']

In [58]:
def oddnumbers(x):
    if x%2!=0:
        return 'odd'
    
y=map(oddnumbers,[31,32,33,34,35,36,37,38,39,40])
print(list(y))

['odd', None, 'odd', None, 'odd', None, 'odd', None, 'odd', None]

In [60]:
# filter -> map function if not satifies it will print flase and if satisfies will print true
# filer means if its satisfies then only it will print

def satish(a):
    if a%2==0:
        return 'even'
    
    
x=filter(satish,[31,32,33,34,35,36,37,38,39,40])
print(list(x))

[32, 34, 36, 38, 40]

In [61]:
x=filter(lambda x:x%2==0,[31,32,33,34,35,36,37,38,39,40])
print(list(x))

[32, 34, 36, 38, 40]

In [62]:
y=map(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10])
print(list(y))

[False, True, False, True, False, True, False, True, False, True]

In [63]:
# reduce : reduce works with 2 ourcomes:


from functools import reduce

In [64]:
reduce(lambda a,b:a+b,[10,20,30,40])

100

In [2]:
def tech(a,s):
        print(a+s)
        
tech(25,55)

80

In [4]:
c=lambda a,s:a+s
print(c(25,55))

80

In [10]:
def tech(s):
    print(s)
a=map(tech,[1,2,3,4,5])
print(list(a))

1
2
3
4
5
[None, None, None, None, None]

In [12]:
#normal function
def addition(a,w):
    print(a+w)
    
addition(25,35)

60

In [13]:
# lambda function
c=lambda a,w:a+w
print(c(25,35))

60

In [14]:
# norma function,lambda function,map
def even(a,y):
    for i in range(a,y):
        if i%2==0:
            print('even number',i)
even(11,21)

even number 12
even number 14
even number 16
even number 18
even number 20

In [15]:
c=lambda a:a%2==0
for i in range(11,21):
    if i%2==0:
        print('even number',i)

even number 12
even number 14
even number 16
even number 18
even number 20

In [16]:
a=map(lambda a:a%2==0,[11,12,13,14,15,16,17,18,19,20,21])
print(list(a))

[False, True, False, True, False, True, False, True, False, True, False]

In [18]:
a=filter(lambda a:a%2==0,[11,12,13,14,15,16,17,18,19,20,21])
print(list(a))

[12, 14, 16, 18, 20]

In [19]:
from functools import reduce

In [20]:
reduce(lambda a,b:a+b,[11,12,13,14])

50

In [21]:
reduce(lambda x,y:x+y,[20,30,40,50])

140

In [33]:
reduce(lambda x,y:x+y,[1,2,3,4,5,6,7,8,9,10])

55

In [38]:
# Filter with Map
z=filter(lambda x:x%2==0,map(lambda x:x+2,[1,2,3,4,5,6,7,8,9,10]))
print(list(z))

[4, 6, 8, 10, 12]

In [41]:
s=map(lambda x:x+2,filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10]))
print(list(s))

[4, 6, 8, 10, 12]

In [55]:
# reduce with map and filter:
q=reduce(lambda s,a:s+a,map(lambda s:s+2,[1,2,3,4,5,6,7,8,9,10]))
print((q))

75

In [56]:
q=reduce(lambda s,a:s+a,filter(lambda s:s%2==0,[1,2,3,4,5,6,7,8,9,10]))
print((q))

30

In [ ]:
x=14
c=lambda a,b:a*b

for i in range(1,11):
    print(x,'*',i,'=',c(x,i))

In [58]:
a=7
c=lambda s,w:s*w
for i in range(1,11):
    print(a,'*',i,'=',c(a,i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [59]:
a=18
c=lambda s,d:s*d
for i in range(1,11):
    print(a,'*',i,'=',c(a,i))

18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180

In [61]:
def addition(a,b):
    print(a+b)
    
addition(27,37)

64

In [62]:
addition(45,55)

100

In [63]:
a=100
b=300
print(a+b)

400

In [64]:
def substrication(x,y):
    print(x-y)
    
substrication(150,20)

130

In [65]:
substrication (200,150)

50

In [66]:
substrication(200,20)

180

In [67]:
c=lambda a,b:a+b
print(c(130,20))

150

In [68]:
c=lambda x,y:x*y
print(c(5,4))

20

In [80]:
sol = map(lambda x: x%2==0, [11,12,13,14,15,16,17,18,19,20])
print(list(sol))

[False, True, False, True, False, True, False, True, False, True]

In [83]:
a=map(lambda y: y%2==0,[1,2,3,4,5,6,7,8,9,10])
print(list(a))

[False, True, False, True, False, True, False, True, False, True]

In [86]:
b=filter(lambda y: y%2==0,[1,2,3,4,5,6,7,8,9,10])
print(list(b))

[2, 4, 6, 8, 10]

In [88]:
reduce(lambda x,y:x+y,[10,20,30,40])

100

In [90]:
# Filter with Map

v=filter(lambda x: x%2==0,map(lambda x:x+2,[1,2,3,4,5,6,7,8,9,10]))
print(list(v))

[4, 6, 8, 10, 12]

In [91]:
# map  with filter:
v=map(lambda x:x+2,filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10]))
print(list(v))

[4, 6, 8, 10, 12]

In [2]:
def fun():
    print('i am going to Banglore')
    print('i am going to delhi')
    
fun()

i am going to Banglore
i am going to delhi

In [4]:
def addition(p,q):
    print(p+q)
    
addition(35,45)

80

In [5]:
addition(67,89)

156

In [6]:
def substrication(p,r):
    print(p-r)
    
substrication(135,55)

80

In [7]:
substrication(45,5)

40

In [8]:
# without function
a=100
b=350
print(a+b)

450

In [11]:
def addition(x,y=250):
     print(x+y)
    
addition(50)

300

In [12]:
def multiplication(x,y=5):
    print(x*y)
    
    
multiplication(10)

50

In [14]:
def fun(a,b):
    print(a*b)
    
fun(a=100,b=250)

25000

In [15]:
def fun(r,s):
    print(r+s)
    
w=150
r=100

fun(w,r)

250

In [16]:
# Global Varable
a=100
def fun():
    print(a+50)
    
fun()

150

In [17]:
y=150
def fun():
    print(y-20)
 
fun()

130

In [18]:
# local variable
def fun():
    k=2000
    print(k-1000)
    
fun()

1000

In [20]:
def even(a,v):
    for i in range(a,v):
        if i%2==0:
            print('even number',i)
            
        else:
            print('odd number',i)
even(11,21)

odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19
even number 20

In [23]:
a=lambda x:x%2==0
for i in range(11,21):
    if a(i)==0:
        print('even number',i)
        
    else:
        print('odd number',i)

even number 11
odd number 12
even number 13
odd number 14
even number 15
odd number 16
even number 17
odd number 18
even number 19
odd number 20

In [24]:
a=18
for i in range(1,11):
    print(a,'*',i,'=',a*i)

18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180

In [27]:
a=18
c=lambda x,y:x*y
for i in range(1,11):
    print(a,'*',i,'=',c(a,i))

18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180

In [28]:
def fun(a):
    if a%2==0:
        return 'even'
a=map(fun,[20,21,22,23,24,25,26,27,28,29,30])
print(list(a))

['even', None, 'even', None, 'even', None, 'even', None, 'even', None, 'even']

In [31]:
b=map(lambda x:x%2==0,[11,20,31,40,50,60,70,80,90,100])
print(list(b))

[False, True, False, True, True, True, True, True, True, True]

In [32]:
def fun(a):
    if a%2==0:
        return 'even'
    
a=filter(fun,[20,21,22,23,24,25,26,27,28,29,30])
print(list(a))

[20, 22, 24, 26, 28, 30]

In [33]:
b=filter(lambda x:x%2==0,[11,20,31,40,50,60,70,80,90,100])
print(list(b))

[20, 40, 50, 60, 70, 80, 90, 100]

In [36]:

from functools import reduce

In [37]:
reduce(lambda x,y:x+y,[10,50,90,100])

250